akshare==0.5.59
appdirs==1.4.4
attrs==19.3.0
Automat==20.2.0
beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2020.4.5.2
cffi==1.14.0
chardet==3.0.4
constantly==15.1.0
cryptography==2.9.2
cssselect==1.1.0
cycler==0.10.0
decorator==4.4.2
demjson==2.2.4
et-xmlfile==1.0.1
fake-useragent==0.1.11
fonttools==4.12.1
html5lib==1.1
hyperlink==19.0.0
idna==2.9
incremental==17.5.0
jdcal==1.4.1
joblib==0.16.0
jsonpath==0.82
kiwisolver==1.2.0
lxml==4.5.1
matplotlib==3.2.2
mplfinance==0.12.6a3
mysqlclient @ file:///C:/PycharmProjects/DataPickTools/Fagaiwei/mysqlclient-1.4.6-cp36-cp36m-win_amd64.whl
numpy==1.19.0
openpyxl==3.0.4
pandas==1.0.5
parse==1.15.0
parsel==1.6.0
Pillow==7.2.0
Protego==0.1.16
psycopg2==2.8.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyDispatcher==2.0.5
pyee==7.0.2
PyExecJS==1.5.1
PyHamcrest==2.0.2
PyMySQL==0.9.3
pyOpenSSL==19.1.0
pyparsing==2.4.7
pypinyin==0.38.1
pyppeteer==0.2.2
pyquery==1.4.1
python-dateutil==2.8.1
pytz==2020.1
queuelib==1.5.0
redis==3.5.3
requests==2.23.0
requests-html==0.10.0
schedule==0.6.0
scikit-learn==0.23.1
scipy==1.5.1
Scrapy==2.1.0
selenium==3.141.0
service-identity==18.1.0
six==1.15.0
soupsieve==2.0.1
SQLAlchemy==1.3.18
tabulate==0.8.7
threadpoolctl==2.1.0
tqdm==4.46.1
Twisted==20.3.0
urllib3==1.25.9
w3lib==1.22.0
webencodings==0.5.1
websocket-client==0.57.0
websockets==8.1
xlrd==1.2.0
xlutils==2.0.0
xlwt==1.3.0
zope.interface==5.1.0
